Digits {
    width: auto;
}

.input-area {
    align: center middle;
    layout: horizontal;
    margin: 0 0 1 0;
    height: auto;
    dock: bottom;
    padding: 1;
}

.input-area TextArea {
    width: 1fr;
    height: auto;
    max-height: 10;
}

.input-area Button {
    max-width: 5;
    height: 3;
}

.center {
    height: 100%;
    align: center middle;
}

.messages-area {
    width: 100%;
    layout: vertical;
    margin: 1 1 3 1;
}

Message {
    width: 100%;
    align: right middle;
}


.user-message {
    background: gray 50%;
    max-width: 70%;
    width: auto;
    margin: 0 0 1 0;
    padding: 1 1 0 1
}